rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /sy_cms_data/{document} {
      allow read, write: if true;
    }
    match /sy_cms_backups/{document} {
      allow read, write: if true;
    }
    match /sy_visitor_daily/{document} {
      allow read, write: if true;
    }
    match /sy_visitor_logs/{document} {
      allow read, write: if true;
    }
  }
}
